// import modul
@import 'variables';
@import 'animation';
@import 'position';
@import 'width';
@import 'text';
@import 'padding';
@import 'margin';
@import 'image';
@import 'grid';
@import 'navigator';
@import 'form';
@import 'card';
// @import 'circle';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik');

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: 'Open Sans', 'Rubik', $font;
}

html {
    background-color: #f8f8f8;
}

a {
    text-decoration: none;
}

.bdr-bottom {
    border-bottom: $border;
}

// for login page
.app-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: $min-color;
    .a-l-top {
        position: relative;
        width: 100%;
        padding: 90px 0;
        .a-l-logo {
            position: relative;
            margin: auto;
            width: 140px;
            height: 140px;
            border-radius: 100%;
            background-color: #fff;
            overflow: hidden;
            img {
                @include post_center(absolute);
                width: 100px;
            }
        }
    }

    .a-l-mid {
        position: relative;
        width: calc(100% - 40px);
        padding: 0 20px;
        .a-l-form {
            position: relative;
            width: 100%;
            // padding: 10px 0;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
        }
        .a-l-input {
            position: relative;
            width: 100%;
            @include grid_2x(40px, 1fr);
            .icn {
                width: 40px;
                line-height: 60px;
                text-align: right;
                color: $txt-84-color;
            }
        }
        .a-l-button {
            position: relative;
            width: 100%;
            margin: 30px 0;
        }
    }

    .a-l-bot {
        position: relative;
        width: 100%;
        margin: 100px 0;
    }

}

// for homepage
// app panel
.app-panel {
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 100;
    .app-panel-main {
        position: relative;
        width: calc(100% - 40px);
        height: 60px;
        padding: 0 20px;
        &.a-p-grid-2 {
            @include grid_2x(60px, 1fr);
            .a-p-col-1 {
                position: relative;
                width: 100%;
                @include column_n(1);
            }
            .a-p-col-2 {
                position: relative;
                width: 100%;
                @include column_n(2);
            }
        }
        &.a-p-grid-3 {
            @include grid_3x(50px, 1fr, 60px);
            .a-p-col-1 {
                position: relative;
                width: 100%;
                @include column_n(1);
            }
            .a-p-col-2 {
                position: relative;
                width: 100%;
                @include column_n(2);
            }
            .a-p-col-3 {
                position: relative;
                width: 100%;
                @include column_n(3);
            }
        }
        .a-p-logo {
            position: relative;
            top: 15px;
            width: 100%;
            img {
                position: relative;
                width: 40px;
            }
        }
        .a-p-title {
            @include post_top(relative);
        }
    }
}

.app-content {
    position: relative;
    top: 60px;
    width: calc(100% - 40px);
    padding: 20px;
}

.app-banner {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    img {
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
    }
    .image {
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
    }
}

.app-card {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px 10px;
    display: flex;
    flex-shrink: inherit;
}

.app-circle {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    text-align: center;
    .icn {
        font-size: 12pt;
        color: $txt-14-color;
        &.active {
            color: $min-color;
        }
    }
}

.app-page {
    position: relative;
    width: $max-width;
    margin: auto;
    @media (max-width: $max-width) {
        width: 100%;
    }
}


// profile page
.app-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1);
    
    .app-profile-main {
        @include post_top(relative);
        width: calc(100% - 80px);
        padding: 40px 20px;
        margin: auto;
        background-color: #fff;
        border-radius: 15px;
        text-align: center;
        .a-p-m-top {
            position: relative;
            width: 100%;
            margin-bottom: 30px;
            .a-p-m-logo {
                position: relative;
                margin: auto;
                width: 140px;
                height: 140px;
                border-radius: 100%;
                border: 5px $min-color solid;
                background-color: #fff;
                overflow: hidden;
                img {
                    @include post_center(absolute);
                    width: 100px;
                }
            }
        }
        .a-p-m-mid {
            margin: 20px 0;
        }
    }

    .app-profile-button {
        position: absolute;
        bottom: 10px;
        width: 100%;
        .btn {
            @include post_center(relative);
        }
    }

}


// circle
.app-throughput {
    position: relative;
    width: 100%;
}

.app-pie {
    position: relative;
    width: 240px;
    height: 240px;
    margin: auto;
    border-radius: 100%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    .c-c-pie {
        position: relative;
        margin: auto;
    }
}

// .progress-circle {
//     position: relative;
//     width: 300px;
//     height: 300px;
//     margin: auto;
//     border-radius: 50%;
//     background-color: #f0f0f0;
//     .p-c-content {
//         @include post_center(absolute);
//         width: 200px;
//         height: 200px;
//         line-height: 150px;
//         text-align: center;
//         background-color: #fff;
//         border-radius: 100%;
//         .value {
//             font-size: 22pt;
//             color: $txt-84-color;
//             font-weight: 600;
//         }
//     }
//     &:after {
//         content: '';
//         width: 100%;
//         height: 100%;
//         border-radius: 50%;
//         animation: colorload 2s;
//         -webkit-animation: colorload 2s;
//     }
//     &.progress-10 {
//         background-image: 
//             linear-gradient(0deg, #fff 50%, transparent 50%, transparent),
//             linear-gradient(30deg, $blue-color 50%, transparent 50%, transparent);
//     }
// }

// @-webkit-keyframes colorload {
//     0% {
//       opacity: 0;
//       transform: rotate(0deg)
//     }
//     100% {
//       opacity: 1;
//       transform: rotate(360deg)
//     }
// }